<div class = "container">
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>What games we are looking for</h2>
  </div>
  <div class="col-md-6">
   <p>Create an dropdown selector for user search</p>
  </div>
  <div>
   <p> generate games here depending on users search query</p>
   <p> if clicked on the game => redirected on the game page where you can leave comments and see team info (name, alias,logo)</p>
  </div>
</div>
</div>
<p id="invis"></p>