<div class="container-fluid">

  <div class="row text-center">
    <div class="col-lg-6" id="mainText">
      <img src="/assets/image.png" alt="Two dudes engaging in Tilly Time" width="900" height="600">
      <p>It's tilly time!!</p>
    </div>

    <div class="col-lg-6">
      <container>
        <h1> Tilly </h1>
        <h2> (noun) </h2>
        <p><a onclick="myAudioFunction();"><img src="/assets/blue-sound.png" onmouseover="hover(this);" onmouseout="unhover(this);" ></a>/ˈtɪli/  <a onclick="myAudioFunction02();"><img src="/assets/red-sound.png" onmouseover="hover02(this);" onmouseout="unhover02(this);"></a>/ˈtɪli/</p>
        <p id="mainText2">When two opposing players drop their gloves and we have a good ol'
          fashioned hockey fight! </p>

        <h4>We go for a gentler approach here.<br> Check out the games on our site,
          engage in some friendly banter, and leave the
          fighting to the pros!</h4>
        <p id="mainText2">Avoid being a duster, and prime yourself on the correct lingo to use in your trash talk
          <a href="https://www.ncaa.com/news/icehockey-men/article/35-hockey-slang-words-defined">here</a>, so you can
          learn to wheel, snipe and celly with the best of them!
        </p>
    </div>
  </div>
</div>
{{#if loggedIn}}
<div class="container search">
  <h3>Want to search for your favorite team? </h3>
  <a href="/api/games/search">Click here to start!</a>
</div>
{{/if}}

<script src="/js/pronounce.js"></script>