<div class = "container profile">
    <h3>Welcome back, {{name}}!</h3>
    <p>Comment history:</p>
</div>
 <script>
     import { formatDistance, subDays } from 'date-fns'

formatDistance(subDays(new Date(), 3), new Date(), { addSuffix: true })
//=> "3 days ago"
 </script>