
<section class="container" id="search-bar">
  <h3>Looking for games?</h3>
  <li id="options">
    <a href="#">Teams</a>
    <ul class="subnav">
      <li><a href="ANA">Anaheim Ducks</a></li>
      <li><a href="ARI">Arizona Coyotes</a></li>
      <li><a href="BOS">Boston Bruins</a></li>
      <li><a href="BUF">Buffalo Sabres</a></li>
      <li><a href="CAR">Carolina Hurricanes</a></li>
      <li><a href="CBJ">Columbus Blue Jackets</a></li>
      <li><a href="CGY">Calgary Flames</a></li>
      <li><a href="CHI">Chicago Blackhawks</a></li>
      <li><a href="COL">Colorado Avalanche</a></li>
      <li><a href="DAL">Dallas Stars</a></li>
      <li><a href="DET">Detroit Red Wings</a></li>
      <li><a href="EDM">Edmonton Oilers</a></li>
      <li><a href="FLA">Florida Panthers</a></li>
      <li><a href="LAK">Los Angeles Kings</a></li>
      <li><a href="MIN">Minnesota Wild</a></li>
      <li><a href="MTL">Montreal Canadiens</a></li>
      <li><a href="NSH">Nashville Predators</a></li>
      <li><a href="NJD">New Jersey Devils</a></li>
      <li><a href="NYI">New York Islanders</a></li>
      <li><a href="NYR">New York Rangers</a></li>
      <li><a href="OTT">Ottawa Senators</a></li>
      <li><a href="PHI">Philadelphia Flyers</a></li>
      <li><a href="PIT">Pittsburgh Penguins</a></li>
      <li><a href="SJS">San Jose Sharks</a></li>
      <li><a href="SEA">Seattle Kraken</a></li>
      <li><a href="TB">Tampa Bay Lightning</a></li>
      <li><a href="TOR">Toronto Maple Leafs</a></li>
      <li><a href="VAN">Vancouver Canucks</a></li>
      <li><a href="VGK">Vegas Golden Knights</a></li>
      <li><a href="WSH">Washington Capitals</a></li>
      <li><a href="WPG">Winnipeg Jets</a></li>
    </ul>
  </li>

  <section class="flex-row justify-center">
    <form class="search-form">
      <input
        type="text"
        name="search"
        id="alias"
        placeholder="Search for your favorite team to see their schedule"
      />
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
  </section>
  {{! try uooer or inner div with games pei is not sure }}
  <div id="games">
    <div id="searchResults">
      {{#each games as |game|}}
        <p>{{game.status}}</p>
      {{/each}}
    </div>
  </div>
</section>

<script src="/js/handlebars-v4.0.5.js"></script>    
<script src="/js/script.js"></script>