<link rel="stylesheet" type="text/css" href="/css/dropdown.css" />

<section class="container" id="search-bar">
  <h3>Looking for games?</h3>
  <h3>Find your favorite (or least favorite) team!</h3>
  <h4>Screw the corporations, watch streams <a href="https://v2.sportsurge.net/list-hockey">here</a> and <a
      href="https://nhl66.ir/simulator">here.</a></h4>
</section>
<div class="dropdown">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    Teams
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="ANA">Anaheim Ducks</a>
    <a class="dropdown-item" href="ARI">Arizona Coyotes</a>
    <a class="dropdown-item" href="BOS">Boston Bruins</a>
    <a class="dropdown-item" href="BUF">Buffalo Sabres</a>
    <a class="dropdown-item" href="CAR">Carolina Hurricanes</a>
    <a class="dropdown-item" href="CBJ">Columbus Blue Jackets</a>
    <a class="dropdown-item" href="CGY">Calgary Flames</a>
    <a class="dropdown-item" href="CHI">Chicago Blackhawks</a>
    <a class="dropdown-item" href="COL">Colorado Avalanche</a>
    <a class="dropdown-item" href="DAL">Dallas Stars</a>
    <a class="dropdown-item" href="DET">Detroit Red Wings</a>
    <a class="dropdown-item" href="EDM">Edmonton Oilers</a>
    <a class="dropdown-item" href="FLA">Florida Panthers</a>
    <a class="dropdown-item" href="LAK">Los Angeles Kings</a>
    <a class="dropdown-item" href="MIN">Minnesota Wild</a>
    <a class="dropdown-item" href="MTL">Montreal Canadiens</a>
    <a class="dropdown-item" href="NSH">Nashville Predators</a>
    <a class="dropdown-item" href="NJD">New Jersey Devils</a>
    <a class="dropdown-item" href="NYI">New York Islanders</a>
    <a class="dropdown-item" href="NYR">New York Rangers</a>
    <a class="dropdown-item" href="OTT">Ottawa Senators</a>
    <a class="dropdown-item" href="PHI">Philadelphia Flyers</a>
    <a class="dropdown-item" href="PIT">Pittsburgh Penguins</a>
    <a class="dropdown-item" href="SJS">San Jose Sharks</a>
    <a class="dropdown-item" href="SEA">Seattle Kraken</a>
    <a class="dropdown-item" href="TB">Tampa Bay Lightning</a>
    <a class="dropdown-item" href="TOR">Toronto Maple Leafs</a>
    <a class="dropdown-item" href="VAN">Vancouver Canucks</a>
    <a class="dropdown-item" href="VGK">Vegas Golden Knights</a>
    <a class="dropdown-item" href="WSH">Washington Capitals</a>
    <a class="dropdown-item" href="WPG">Winnipeg Jets</a>
  </div>
</div>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"
  integrity="sha384-3ziFidFTgxJXHMDttyPJKDuTlmxJlwbSkojudK/CkRqKDOmeSbN6KLrGdrBQnT2n" crossorigin="anonymous"></script>
<script src="./js/search.js"></script>
<script src="./js/script.js"></script>
<script src='../js/elevator.js'></script>